/*!
 * by wangyue
 * 2016
 */

.MyText {
    font-size: 25px;
    font-family: 微软雅黑;
    font-weight:bold;
    fill: white;
    text-anchor: middle;
}
.bar {
    position:fixed;
    width:15%;
    height:100%;
    margin-left:0%;
    background-color:#212121;
    text-align:right;
    z-index:10;
}
.secondbar {
    position:fixed;
    width:10%;
    height:50%;
    margin-top:10%;
    margin-left:5%;
    background-color:#212121;
    text-align:right;
    z-index:5;
}
.unit {
    font-size:17px;
    color:white;
    font-family:"微软雅黑";
    font-weight:bold;
    cursor:pointer;
}
.unit:hover{
    color:#818181;
}
.unit_active{
    font-size:17px;
    color:#ffd900;
    font-family:"微软雅黑";
    font-weight:bold;
    cursor:pointer;
}
.bartext{
    font-family:"微软雅黑";
    color:white;
    font-size:15px;
}
.iconunit{
    position:absolute;
    text-align:center;
    z-index:100;
}
.icon {
    width:50%;
    cursor:pointer;
    border-radius:50px;
}
.icon:hover{
    background-color:#818181;
}
.icon_active{
    width:50%;
    cursor:pointer;
    border-radius:50px;
    background-color:GreenYellow;
}
.icontext{
    font-family:"微软雅黑";
    color:#212121;
    font-size:18px;
    font-weight:bold;
}
.icontext_active{
    font-family:"微软雅黑";
    color:GreenYellow;
    font-size:15px;
    font-weight:bold;
}
.waitbar {
    position:absolute;
    margin-top:10%;
    font-family:"微软雅黑";
    width:100%;
    font-weight:bold;
}
.infobar {
    position:absolute;
    width:30%;
    height:100%;
    margin-left:70%;
    z-index:10;
    font-family:"微软雅黑";
    text-align:center;
    overflow-y:auto;
}
.infotext{
    font-family:"微软雅黑";
}
.nodetext {
    font-family: 微软雅黑;
    fill: white;
    text-anchor: middle;
    cursor:pointer;
}
.nodecircle {
    cursor:pointer;
}
.typetext {
    font-family: 微软雅黑;
    text-anchor: middle;
    cursor:default;
}
.edgetext {
    font-family: 微软雅黑;
    text-anchor: middle;
    cursor:default;
    fill:#515151;
}
.edgeline {
    stroke:#818181;
}
.arrow {
    stroke:#818181;
}
.textbubble{
    width:50%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    padding:1em;
    color:white;
    font-size: 1.2em;
    font-family: 微软雅黑;
    font-weight:bold;
}
#talkinputbox{
    text-align:left;
    font-size:1em;
    width:70%;
    height:5%;
    margin-top:20%;
    margin-bottom:20%;
    box-shadow:0px 0px 5px #FFF;
}
/*!
    在管理界面所用到的样式
 */
.Myrect{
    stroke:#616161;
    stroke-width:1;
    cursor:pointer;
}
.mytext_function{
    font-family:微软雅黑;
    font-size:16px;
    cursor:pointer;
    text-anchor: middle;
}
.Myppt{
    font-family:微软雅黑;
    font-weight:bold;
    text-anchor: middle;
}
.pagerect{
    stroke:#616161;
    stroke-width:1;
    cursor:pointer;
}
.Mylabel{
    font-family:微软雅黑;
    font-size:18px;
    cursor:pointer;
    text-anchor: middle;
    font-weight:bold;
}
.Myprop{
    font-family:微软雅黑;
    font-size:18px;
    text-anchor: middle;
}
.axis path,
.axis line{
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: 微软雅黑;
    font-size: 15px;
    fill:gray;
}
.mytext_statis {
    font-size: 15px;
    font-family: 微软雅黑;
    fill: #414141;
    text-anchor: middle;
}
#number {
    font-size: 15px;
    font-family: 微软雅黑;
    fill: #414141;
}
.tulitext{
    font-size: 12px;
    font-family: 微软雅黑;
    fill: #414141;
    text-anchor: left;
}
.rulebar {
    border: 2px solid purple;
    margin-top: 15px;
    border-radius: 10px;
    width: 500px;
    height: 50px;
}